body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

#button-0:hover,#button-1:hover,#button-2:hover,#button-3:hover,#button-4:hover,#button-5:hover,#button-6:hover,#button-7:hover, #button-8:hover {
  font-weight: bold !important;
}

ol {
  transform: 'rotate(0deg)';
  text-align: center;
  list-style-position: inside;
  margin-left: auto;
  margin-right: auto;
}
#line-0, #line-1, #line-2, #line-3, #line-4, #line-5, #line-6, #line-7, #line-8, #line-9 {
  transform: 'rotate(0deg)';
}